h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
  
p {
    color: red;
  }

/* Create your test CSS here */
p {
    color: red;
  }

/* Specificity */
.special {
    color: red;
  }
  
p {
    color: blue;
  }